* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: .9
}

/* Header */

header {
  display: flex;
  height: 110px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
}

img {
display: flex;
flex-grow: 1;
padding-top: 10px;
padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  padding-right: 40px;
  padding-top: 45px;
}

.Set_Width {
  width: 100%;
}

.Set_WidthII {
  display: flex;
  justify-content: flex-end;
}

/* Top Page Content */

.Top_Page_Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  margin: auto;
}

h2 {
  font-size: 30px;
  opacity: .7;
}

h4 {
  opacity: .7;
}

/* 2nd Image Set */

.Middle_Image_Set img {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.Middle_Image_Set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Sub_Middle_Image_Set {
  padding: 5px;
  margin: 20px;
}

/* Bottom Page Content */

.Bottom_Page_Content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: auto;
}

.Bottom_Blocks {
  width: 300px;
  margin-right: 40px;
  margin-top: 15px;
}

.Bottom_Page_Content h2 {
  align-self: flex-start;
}
